body{
	margin-bottom: 0px;
	padding: 0px;
	background-color: #DEB887;
	background-size: cover;
	background-position: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: none;
    text-decoration: none;
    height: 120vh;
}

.login-box{
	width: 420px;
	height: 450px;
	background: #8B0000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	box-sizing: border-box;
	padding: 70px;
	transform: translate(-50%,-50%);
}

h1{
	margin-top: 0px;
	padding: 0 0 0px;
	text-align: center;
	font-size: 22px;
    color: #f7f7f7;
}

.login-box label{
	margin-bottom: 0px;
	padding: 0px;
	font-weight: bold;
}

.login-box input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
    width: 100%;
	height: 20px;
	color: #fff;
	font-size: 16px;
}

.login-box button{
    margin-left: 90px;
    margin-top: 30px;
	border: none;
	outline: none;
    width: 100px;
	height: 30px;
	color: #3f3f44;
	font-size: 15px;
	border-radius: 20px;
	background: #fdcb9e;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.login-box button:hover{
	cursor: pointer;
	background: #f9999;
	color: #3f3f44;
}